@font-face {
  font-family: Helvetica Neue;
  src: url(./../fonts/HelveticaNeue.otf);
}
@font-face {
  font-family: Lato;
  src: url(./../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: UTMAvoBold;
  src: url(./../fonts/UTMAvoBold.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(./../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family:  MTD Geraldyne;
  src: url(./../fonts/MTDGeraldyne.otf);
}
@font-face {
  font-family: Lato Black;
  src: url(./../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: HelveticaNeue-Light;
  src: url(./../fonts/HelveticaNeue-Light.otf);
}
@font-face {
  font-family: Lato;
  src: url(./../fonts/Lato-Medium.ttf);
}

/* < 1366 */
@media screen and (max-width: 1366px) {
  .section_fixed_menu {
    right: -90px;
  }
  .top-up {
    right: 23px;
  }

}

/* 1280 */
@media screen and (max-width: 1300px) {
  .icon_allpage {
    right: 0;
  }
}

/* 1366 */
@media screen and (max-width: 1400px) and (min-width: 1301px) {
  .section_banner .slider_banner .item .content {
    left: 100px;
    width: 60%;
  }
  .icon_allpage {
    right: 10px;
  }
  .section_banner_1 .content {
    left: 100px;
  }
}

/* 1280 */
@media screen and (max-width: 1300px) and (min-width: 1101px) {
  .section_banner .slider_banner .item .content {
    left: 55px;
    width: 60%;
  }
}

/* 1024 */
@media screen and (max-width: 1100px) and (min-width: 992px) {
  .section_banner .slider_banner .item .content {
    left: 30px;
    width: 60%;
  }
  .element_uudai .element_btn_info .btn_phone_info , .element_uudai .element_btn_info .btn_datmua {
    font-size: 13px;
    padding: 0 15px;
  }
  .section_banner_1 .content {
    left: 30px;
  }
  .section_bangbaogia .element_baogia .item_baogia .item_header h3 {
    font-size: 24px;
  }
  .section_bangbaogia .element_baogia .item_baogia .item_content p {
    font-size: 14px;
  }
  .section_cate_pro .element_cate_item .cate_item .img {
    height: 145px;
  }
  .title_left h2 {
    font-size: 26px;
  }
  .section_map .element_map .item {
    width: 40%;
  }
  .section_map .element_map .item_map {
    width: 60%;
  }
}

/* 768 */
@media screen and (max-width: 992px)  and (min-width: 570px) {
  .element_news .item_news .img {
    height: 140px;
  }
  .element_uudai .tucho_radio ul li label {
    width: calc(100% - 40px);
  }
  .section_banner_1 .content {
    left: 15px;
  }
  .section_banner_1 .content h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .section_bangbaogia .row > h3 {
    padding: 10px 25px;
  }
  .section_bangbaogia .element_baogia .item_baogia .item_header h3 {
    font-size: 18px;
  }
  .section_bangbaogia .element_baogia .item_baogia .item_header h3 span {
    font-size: 14px;
  }
  .section_bangbaogia .element_baogia .item_baogia .item_content p {
    font-size: 14px;
  }
  .section_bangbaogia .element_baogia .item_baogia .item_content {
    padding: 0 15px;
  }
  .section_banner_text h2 {
    font-size: 24px;
  }
  .section_cate_pro .element_cate_item .cate_item .img {
    height: 112px;
  }
  .section_cate_pro .element_cate_item .cate_item p {
    font-size: 14px;
  }
  .section_list_theme.pb-0.mt-60 {
    margin-top: 0;
    padding-bottom: 0;
  }

}

/* min 992 */
@media screen and (min-width: 992px) {
  .main_header .row .main_menu > li.hightline:before {
    opacity: 0;
  }
}

/* 992 */
@media screen and (max-width: 992px) {
  .main_header .row .main_menu > li.hightline:before {
    opacity: 1;
  } 
  .top_header .row .text_top {
    display: none;
  }
  .top_header .row ul.list_info li:first-child {
    display: none;
  }
  .top_header .row ul.list_info li span {
    width: 10px;
  }
  .top_header .row ul.list_info li p {
    margin: 0 0 0 5px;
    font-size: 11px;
  }
  .main_header .row .main_menu li {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #8080808c;
  }
  .main_header .row .main_menu > li .submenu li:last-child {
    border-bottom: none;
  }
  .main_header .row .main_menu > li a {
    padding: 15px 0;
  }
  .main_header .row .main_menu > li .submenu {
    position: inherit;
    visibility: visible;
    width: 100%;
    padding: 0;
    top: 0;
    display: none;
  }
  .main_header .row .main_menu > li .submenu li {
    padding: 15px;
  }
  .main_header .row .main_menu > li .submenu:before {
    display: none;
  }
  .main_header .row .main_menu > li.hightline:before {
    top: 20px;
    transform: rotateZ(-45deg);
    right: 15px;
  }
  .main_header .row .main_menu > li.hightline.active .submenu {
    display: block;
    border: none;
    box-shadow: none;
  }
  .main_header .row .main_menu > li.hightline.active:before {
    transform: rotateZ(45deg);
  }
  .main_header .row .logo_page {
    order: 1;
    width: 115px;
  }
  .main_header .row .main_menu {
    order: 4;
    width: 100%;
    display: none;
    padding-top: 30px;
  }
  .main_header .row .list_icon {
    order: 2;
    margin-right: 15px;
  }
  .main_header .row .list_icon li {
    display: none;
    padding: 0 5px;
  }
  .main_header .row .list_icon li:last-child , .main_header .row .list_icon li:nth-child(3) {
    display: block;
  }
  .main_header .row .list_icon li:last-child {
    order: 1;
  }
  .main_header .row .list_icon li:nth-child(3) {
    order: 2;
  }
  .main_header .row .list_icon > li .btn_khogiaodien {
    font-size: 10px;
  }
  .main_header {
    padding: 15px;
  }
  .main_header.active {
    height: 100vh;
  }
  .icon_menu_mobi {
    display: block;
    order: 3;
  }
  .main_header.active .main_menu {
    display: block;
    /*height: 100%;
    overflow-y: scroll;*/
  }
  .main_header.active .icon_menu_mobi span:nth-child(2) {
    display: none;
  }
  .main_header.active .icon_menu_mobi span:nth-child(1) {
    transform: rotateZ(45deg);
    margin: -2px 0;
  }
  .main_header.active .icon_menu_mobi span:nth-child(3) {
    transform: rotateZ(-45deg);
    margin: -2px 0;
  }

  .section_footer {
    padding: 30px 15px 0 15px;
  }
  .section_footer .footer_item {
    width: 100% !important;
    border-bottom: 1px solid #ffffff75;
  }
  .section_footer .footer_item:first-child , .section_footer .footer_item:last-child , .section_footer .footer_item:nth-child(4) {
    border-bottom: none;
  }
  .section_footer .footer_item .footer_mobi {
    display: none;
  }
  .section_footer .footer_item:nth-child(2) h3 , .section_footer .footer_item:nth-child(3) h3 ,  .section_footer .footer_item:nth-child(4) h3 {
    position: relative;
    font-size: 14px;
  }
  .section_footer .footer_item:nth-child(2) h3:before , .section_footer .footer_item:nth-child(3) h3:before ,  .section_footer .footer_item:nth-child(4) h3:before {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotateZ(45deg);
    right: 15px;
    top: 5px;
  }
  .footer_item.active .footer_mobi {
    display: block;
  }
  .section_footer .footer_item.active:nth-child(2) h3:before, .section_footer .footer_item.active:nth-child(3) h3:before, .section_footer .footer_item.active:nth-child(4) h3:before {
    transform: rotateZ(135deg);
  }
  .section_footer .footer_item:nth-child(4) > p {
    width: 50%;
    float: left;
    text-align: center;
  }
  .section_footer .footer_item.copyrighter p {
    font-size: 12px;
  }
  .element_news .slick-list {
    padding: 0 50px 0 0 !important;
  }
  .section_banner .slider_banner .item .content {
    left: 15px;
    width: 70%;
  }
  .section_banner .slider_banner .item .content h2 {
    font-size: 16px;
    margin: 0;
  }
  .section_banner .slider_banner .item .content p span {
    font-size: 10px;
  }
  .section_banner .slider_banner .item .content p img {
    width: 15px;
  }
  .section_banner .slider_banner .item .content .btn_dangkingay {
    font-size: 9px;
    margin-top: 10px;
    padding: 2px 3px 2px 15px;
  }
  .section_banner .slider_banner .item .content .btn_dangkingay img {
    width: 18px;
  }
  .section_banner .slider_banner .item .content p {
    align-items: end;
  }
  .section_2_theme {
    padding: 20px 0;
  }
  .title_basic h2 span {
    font-size: 16px;
    display: block;
    padding: 0 17px;
  }
  .title_basic h2 span:before {
    width: 42px;
    height: 3px;
  }
  .title_basic p {
    font-size: 12px;
    line-height: 18px;
  }
  .theme_content .img {
    width: 100%;
    padding: 0 15px;
  }
  .theme_content .content {
    width: 100%;
    padding: 0 15px;
  }
  .theme_content .content p span {
    font-size: 14px;
    line-height: 20px;
    border-bottom: 0.330947px dashed #51A94E;
    display: block;
    width: 100%;
  }
  .btn_dangkingay {
    font-size: 12px;
    margin-top: 10px;
  }
  .btn_dangkingay img {
    width: 25px;
  }
  .section_list_theme {
    padding-bottom: 135px;
  }
  .section_service .element_service h2 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
  .section_service .element_service p {
    font-size: 12px;
    line-height: 16px;
  }
  .section_service .element_service {
    padding: 20px 25px;
  }
  .section_service .element_service .element_btn .btn_xembanggia , .section_service .element_service .element_btn .btn_khogiaodien {
    width: 135px;
    height: 35px;
    font-size: 12px;
    line-height: 14px;
    margin: 0 5px;
  }
  .section_service {
    margin-bottom: 0;
  }
  .element_news .item_news .content_news .detail_news a {
    font-size: 14px;
  }
  .element_news .item_news .content_news .detail_news span {
    font-size: 12px;
  }
  .element_news .item_news .content_news .detail_news .btn_xemchitiet {
    font-size: 12px;
  }
  .section_footer .footer_item.copyrighter {
    margin-top: 0;
  }
  .element_list_theme .content_theme a {
    font-size: 14px;
  }
  .element_list_theme .content_theme .price .btn_dungthu {
    font-size: 14px;
  }
  .element_info_product .img , .element_info_product .info_pro {
    width: 100%;
    padding: 0;
  }
  .element_about_us , .element_about_camket {
    width: 100%;
  }
  .section_map .element_map .item , .section_map .element_map .item_map , .section_contact_form .element_contact .item_contact , .section_contact_form .element_contact .item_img{
    width: 100%;
    padding: 0;
  }
  .section_map .element_map .item, .section_contact_form .element_contact .item_contact {
    margin-bottom: 20px;
  }
}

/* 570 */
@media screen and (max-width: 570px) {
  .section_breadcrumb .container {
    padding: 0 15px;
  }
  .element_info_product {
    padding: 0 15px;
  }
  .element_uudai .element_btn_info {
    justify-content: center;
  }
  .element_uudai .element_btn_info .btn_datmua {
    margin: 10px 0;
  }
  .element-list .profile-product .tabs-list-detail ul li a {
    font-size: 14px;
  }
  .element-list {
    padding: 0 15px;
  }
  .element-list .profile-product .tabs-list-detail ul li {
    margin-right: 10px;
  }
  .element_list_theme .col-xs-12 {
    padding: 0;
  }
  .element_uudai .tucho_radio ul li {
    display: flex;
    align-items: baseline;
  }
  .review-right {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  .section_banner_1 .content {
    left: 15px;
  }
  .section_banner_1 .content h2 {
    font-size: 12px;
    line-height: 14px;
  }
  .section_bangbaogia .row > h3 {
    font-size: 14px;
    padding: 0 15px;
  }
  .section_bangbaogia .element_baogia .item_baogia {
    width: 100%;
    margin-bottom: 15px;
  }
  .section_bangbaogia .element_baogia {
    padding: 0 15px;
  }
  .section_bangbaogia .element_baogia .item_baogia .item_header h3 {
    margin: 0;
  }
  .section_bangbaogia .element_baogia .item_baogia .item_header h2 {
    padding-top: 40px;
  }
  .section_bangbaogia .element_baogia .item_baogia .item_content {
    padding: 0 15px;
  }
  .section_bangbaogia .element_baogia .item_baogia .item_content p {
    font-size: 16px;
  }
  .section_about_us , .section_about_camket {
    padding: 0 15px;
    background-position: center;
  }
  .title_left h2 {
    font-size: 16px;
  }
  .title_left h2:before {
    width: 35px;
    height: 3px;
  }
  .element_about_us p {
    font-size: 14px;
  }
  .item_camket .img {
    width: 60px;
    height: 60px;
  }
  .item_camket .img img {
    max-width: 60%;
  }
  .item_camket .content {
    width: calc(100% - 80px);
  }
  .item_camket .content h2 {
    font-size: 16px;
    line-height: 20px;
  }
  .item_camket .content p {
    font-size: 14px;
  }
  .section_dangkituvan .row .element_dangki , .section_dangkituvan .row .img {
    width: 100%;
  }
  .section_cate_pro .element_cate_item .cate_item {
    width: 25%;
    margin: 5px 0;
  }
  .section_cate_pro .element_cate_item .cate_item .img {
    height: 93px;
    padding: 5px;
  }
  .section_banner_text h2 {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
  }
  .section_cate_pro .element_cate_item {
    padding: 0 15px;
  }
  .section_cate_pro .element_cate_item .cate_item p {
    font-size: 12px;
    margin: 10px 0;
  }
  .section_list_theme.pb-0.mt-60 {
    margin-top: 0;
    padding-bottom: 0;
  }
  .section_list_theme.pb-0.mt-60 .element_list_theme {
    padding: 0 15px;
  }
  .section_phantrang button {
    font-size: 12px;
    height: 40px;
    padding: 0 5px;
  }
  .section_phantrang span {
    padding-left: 16px;
    width: 40px;
    height: 40px;
  }
  .section_phantrang p {
    font-size: 12px;
  }
  .section_map .element_map .item h3 {
    font-size: 16px;
  }
  .section_map .element_map .item p , .section_map .element_map .item .lienket p , .section_contact_form .element_contact .item_contact p{
    font-size: 14px;
  }
  .contact_form input::placeholder , .contact_form textarea::placeholder {
    font-size: 14px;
  }
  .element_list_theme {
    padding: 0 15px;
  }
}