.top_header {
  background: #51A94E;
  padding: 8px 0 7px 0;
}
.top_header .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.top_header .row .text_top {
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.top_header .row .text_top span {
  display: block;
  width: 15px;
}
.top_header .row .text_top span img {
  width: 100%;
}
.top_header .row .text_top p {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0 0 0 15px;
}
.top_header .row ul.list_info {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.top_header .row ul.list_info li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 20px;
  position: relative;
}
.top_header .row ul.list_info li:last-child:before {
  display: none;
}
.top_header .row ul.list_info li:before {
  position: absolute;
  content: "";
  width: 2px;
  top: 50%;
  transform: translate(0, -50%);
  height: 13px;
  background: #fff;
  right: 0;
}
.top_header .row ul.list_info li span {
  display: block;
  width: 15px;
}
.top_header .row ul.list_info li span img {
  max-width: 100%;
}
.top_header .row ul.list_info li p {
  margin: 0 0 0 12px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150.36%;
  color: #FFFFFF;
}
.top_header .row ul.list_info li p a {
  color: #FFFFFF;
  font-family: Helvetica Neue;
  text-decoration: none;
}

.main_header {
  padding: 13px 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
}
.main_header .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.main_header .row .logo_page {
  display: block;
  width: 150px;
  overflow: hidden;
  margin-right: auto;
}
.main_header .row .logo_page img {
  width: 100%;
}
.main_header .row .main_menu {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.main_header .row .main_menu > li {
  position: relative;
}
.main_header .row .main_menu > li a {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #424242;
  padding: 0 27px;
}
.main_header .row .main_menu > li > img {
  width: 15px;
}
.main_header .row .list_icon {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.main_header .row .list_icon > li {
  position: relative;
  padding: 0 14px;
}
.main_header .row .list_icon > li a {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #424242;
}
.main_header .row .list_icon > li > img {
  width: 15px;
}
.main_header .row .list_icon > li > img:hover {
  cursor: pointer;
}
.main_header .row .list_icon > li .search_form {
  position: absolute;
  top: -8px;
  right: 0;
  display: none;
}
.main_header .row .list_icon > li .search_form span {
  display: block;
  position: relative;
}
.main_header .row .list_icon > li .search_form span .btn_close {
  position: absolute;
  width: 18px;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.main_header .row .list_icon > li .search_form span .btn_close:hover {
  cursor: pointer;
}
.main_header .row .list_icon > li .search_form span .btn_search {
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  z-index: -1;
  opacity: 0;
}
.main_header .row .list_icon > li .search_form input {
  width: 300px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid grey;
  padding: 0 15px;
}
.main_header .row .list_icon > li .search_form input::placeholder {
  font-family: Lato;
}
.main_header .row .list_icon > li .search_form input:focus {
  outline: 0;
}
.main_header .row .list_icon > li .search_form input:focus::placeholder {
  opacity: 0;
}
.main_header .row .list_icon > li .search_form.active {
  display: block;
}
.main_header .row .list_icon > li .btn_cart {
  position: relative;
}
.main_header .row .list_icon > li .btn_cart span {
  position: absolute;
  top: -5px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background: #F37124;
  text-transform: uppercase;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50px;
  color: #FFFFFF;
  right: -7px;
}
.main_header .row .list_icon > li .btn_khogiaodien {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(90deg, #51A94E 0%, #5EF159 100%);
  border-radius: 52px;
  padding: 11px 25px;
}

.section_banner {
  width: 100%;
}
.section_banner .slider_banner {
  width: 100%;
}
.section_banner .slider_banner .item {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.section_banner .slider_banner .item .content {
  position: absolute;
  top: 50%;
  left: 375px;
  transform: translate(0, -50%);
  width: 27%;
}
.section_banner .slider_banner .item .content h2 {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140.6%;
  color: #055939;
  margin-bottom: 25px;
}
.section_banner .slider_banner .item .content p {
  margin: 0;
  display: flex;
  align-items: center;
}
.section_banner .slider_banner .item .content p span {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150.1%;
  color: #424242;
}
.section_banner .slider_banner .item .content .btn_dangkingay {
  filter: drop-shadow(0px 5px 14px rgba(0, 39, 90, 0.16));
  background: linear-gradient(90deg, #51A94E 0%, #77FB73 100%);
  border: 1.2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 45px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding: 4px 6px 4px 20px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.section_banner .slider_banner .item .content .btn_dangkingay img {
  margin-left: 10px;
}
.section_banner .slider_banner .item > img {
  width: 100%;
}